# Async

## Async file writer
aiofile>=3.3.3

## Async HTTP client
httpx>=0.16.1

## Tests
pytest>=7.4.2
pytest-postgresql>=5.0.0

# Utils
beautifulsoup4>=4.9.3
lxml>=4.6.2
yarl==1.6.3
pathlib>=1.0.1

# CLI
argcomplete==2.0.0

# Libraries for DB

## ORM
SQLAlchemy==1.4

## PostgreSQL
psycopg2-binary>=2.8.6
asyncpgsa==0.27.1
asyncpg>=0.22.0

## Redis
aioredis==1.3.0

## MySQL
mysqlclient>=2.2.0
aiomysql~=0.1.1
PyMySQL>=1.0.2

## SQLite
aiosqlite

## MongoDB
motor==3.1.1

## Firebase
async-firebase==3.2.0